.Calendar__calendar__qh_12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 120px 1fr;
  grid-template-rows: 120px 1fr;
  overflow-x: hidden;
  background: #fdfdfd;
}
.Calendar__calendar__qh_12 .Calendar__bottom__2g2Yl {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr;
  grid-template-columns: 30px 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}
.LeftBlock__leftBlock__21Twx {
  z-index: 10;
  height: 100%;
}
.Striped__striped__1glFa {
  background-image: linear-gradient(45deg, #828282 38.46%, #bababa 38.46%, #bababa 50%, #828282 50%, #828282 88.46%, #bababa 88.46%, #bababa 100%);
  background-size: 18.38px 18.38px;
  outline: solid rgba(0, 0, 0, 0.3) 2px;
  outline-offset: -1px;
}
.MainBlock__mainBlock__3lG9a {
  position: relative;
  height: 2300px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}
.ScrollingLayer__scrollingLayer__1ogmE {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.5s ease-in-out;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr;
  -ms-grid-rows: min-content 1fr;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
}
.ScrollingLayer__scrollingLayer__1ogmE .ScrollingLayer__bottomBlock__3OaJm {
  position: relative;
}
.AppointmentWrapper__appointmentWrapper__1Y-Le {
  background: #fff;
  outline: 1px solid #d3d3d3;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 60px;
  width: 100px;
  transform: "translate(0px, 0px)";
}
.AppointmentWrapper__appointmentWrapper__1Y-Le.AppointmentWrapper__dragging__3TsqR {
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
}
.AppointmentWrapper__appointmentWrapper__1Y-Le.AppointmentWrapper__dragOrigin__3St2g {
  opacity: 0.3;
}
.AppointmentCell__appointmentCell__2A3wN {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.AppointmentCell__appointmentCell__2A3wN .AppointmentCell__leftBlock__12rTr {
  display: -ms-grid;
  display: grid;
  -moz-column-gap: 5px;
       column-gap: 5px;
  -ms-grid-columns: (-webkit-min-content)[3];
  -ms-grid-columns: (min-content)[3];
  grid-template-columns: repeat(3, -webkit-min-content);
  grid-template-columns: repeat(3, min-content);
  height: 100%;
}
.AppointmentCell__appointmentCell__2A3wN .AppointmentCell__leftBlock__12rTr span {
  white-space: nowrap;
}
.AppointmentCell__appointmentCell__2A3wN .AppointmentCell__leftBlock__12rTr .AppointmentCell__marker__3Eep5 {
  width: 5px;
  height: 100%;
  background: green;
}
.AppointmentCell__appointmentCell__2A3wN .AppointmentCell__leftBlock__12rTr .AppointmentCell__avatar__tRFru {
  background: lightgray;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.AppointmentCell__appointmentCell__2A3wN .AppointmentCell__rightBlock__1crxs {
  height: 100%;
}
.AppointmentCell__appointmentCell__2A3wN .AppointmentCell__rightBlock__1crxs .AppointmentCell__points__16BwB {
  border-radius: 50%;
  background: lightgray;
  margin-right: 10px;
}
.CenteredHorizontally__centeredHorizontally__2UfG1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
}
.CenteredVertically__centeredVertically__2L2G7 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}
.BackGrid__backGrid__1gvrC {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}
.BackGrid__backGrid__1gvrC .BackGrid__border__2l_PZ {
  height: 100%;
  position: absolute;
}
.BackGrid__backGrid__1gvrC .BackGrid__border__2l_PZ.BackGrid__vertical__IrZZr {
  border-left: solid black 1px;
}
.BackGrid__backGrid__1gvrC .BackGrid__border__2l_PZ.BackGrid__horizontal__cEWYm {
  border-top: solid black 1px;
}
.TimeLine__timeLine__1CT7j {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.TimeLine__timeLine__1CT7j .TimeLine__timeMark__1eqLA {
  width: 200px;
}
.TopBlock__topBlock__27bJ5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.MonthLabel__monthLabel__2zhQu {
  font-weight: bold;
  font-size: 30px;
}
.MonthChunk__monthRow__2CO4_ {
  transform: translateX(0);
}
.MonthChunk__monthRow__2CO4_ .MonthChunk__offsetController__2Iw9_ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.MonthChunk__monthChunk__2qRpI {
  display: flex;
  flex-direction: column;
  width: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.MonthChunk__monthChunk__2qRpI > div {
  text-align: center;
  margin: 2px 0;
}
.MonthChunk__monthChunk__2qRpI:hover > .MonthChunk__monthday__j1tzI {
  background: #a3a3a3;
}
.MonthChunk__monthChunk__2qRpI:active > .MonthChunk__monthday__j1tzI {
  background: #858585;
  transition: background 0.1s ease-in-out;
}
.MonthChunk__monthChunk__2qRpI .MonthChunk__monthday__j1tzI {
  background: lightgray;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  transition: background 0.5s ease-in-out;
}
.MonthRow__monthRow__39hGQ {
  transform: translateX(0);
}
.MonthRow__monthRow__39hGQ .MonthRow__offsetController__3aWay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}
.VersionBox__versionBox__4YcJf {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: white;
  border: solid gray 1px;
  opacity: 0.5;
}

/*# sourceMappingURL=/src.f69400ca.css.map */